body {
  background-color: #263D42;
}

#grid {
    width: 800px;
    height: 800px;
}

#play-content {
    display: flex;
    flex-direction: row;
}

#peel-button {
    width: 100px;
    height: 100px;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: #E0CA3C;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.cursor {
  background-color: gray;
}

.cursor svg {
  overflow: visible;
  position: fixed;
} 

.cursor.cursor-right {
  border-right-width: 0px;
}

.cursor.cursor-down {
  border-bottom-width: 0px;
}


.cursor-right-next {
 border-left-width: 0px;
 width: 52px;
}

.cursor-down-next {
  border-top-width: 0px;
  height: 51px;
}

#pile {
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
}

.tile {
    font-size: 2rem;
    color: white;
    padding: 8px;
}

.pile-row {
  display: flex;
  flex-direction: row;
}
